<% include ../partials/header %>

<!-- <%= currentUser%> -->
  <div class="container">

    <header class="jumbotron">
      <div class="container">
        <h1>Welcome to Chidera's Camp</h1>
        <p>Check our beautiful camp grounds from all over the world</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new camp ground</a>
        </p>
      </div>
    </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap">
      <% campgrounds.forEach((camp)=>{ %>
        <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: .1rem; margin-top: .9rem">
        <div class="img-thumbnail">
          <img  src="<%= camp.image %>" />
          <div class="caption">
            <h4><%= camp.name %></h4> 
          </div>
          <p><a class="btn btn-primary" href="/campgrounds/<%=camp._id%>">More info</a></p>
        </div>
      </div>
        <% }) %>
    </div>


 

  </div>

  <% include ../partials/footer%>