/node_modules
/node_modules.tar.gz
yarn-error.log*
/fontawesome-free-5.0.13
semantic
/blogApp/public/lib/Semantic-UI-CSS-master

/campDera/version3/public/fontawesome-free-5.0.13/
/campDera/version3/public/js
/campDera/version3/public/assets

/campDera/version4/public/fontawesome-free-5.0.13/
/campDera/version4/public/js
/campDera/version4/public/assets

/campDera/version5/public/fontawesome-free-5.0.13/
/campDera/version5/public/js
/campDera/version5/public/assets

/campDera/version6/public/fontawesome-free-5.0.13/
/campDera/version6/public/js
/campDera/version6/public/assets