<% include partials/header%>

<h1>This is the camp grounds page</h1>

<% campgrounds.forEach((camp)=>{ %>
  <h4><%= camp.name %></h4>
  <img  style="width: 600px; height:300px" src="<%= camp.image %>"/>
<% }) %>



<% include partials/footer%>