<% include partials/header%>


<h1>Add a new camp ground</h1>

<form action="/campgrounds" method="POST">
  <input class="form-control" type="text" name="name" placeholder="camp name">
  <input class="form-control" type="file" name="image">
  <button class="btn btn-lg btn-default">
    submit!
  </button>
</form>

<a href="/campgrounds">Go Back</a>

<% include partials/footer%>
