<% include partials/header%>

<h1>you fell in love with:  <%= thing.toUpperCase() %> </h1>
<% if( thing === "rusty"){ %>
  <p>GOOD CHOICE</p>
<% } else {  %>
  <p>Bad choice! You should choose rusty</p>
<% } %>
<p>this is the ejs file</p>

<% include partials/footer%>