<% include partials/header%>
  
<h2>The Posts Page</h2>

<% posts.forEach(( post ) => { %>
  <li>
    <%= post.title %> - <strong><%= post.author %></strong>
  </li>
<% }) %>

<% include partials/footer%>
