
<% include ./partials/header %>
<h1>SIgn up form</h1>

<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button>
</form>

<a href="/register"> Sign up!</a>
<a href="/login"> login</a>
<a href="/logout"> logout</a>

<% include ./partials/footer %>